<!-- HEADER -->
<header class="header" style="background-image: url({{ site.site.images.cover }})">
  <div class="wrapper">
    <h1 class="logo-name"><a class="logo-link" href="#" title="{{ site.conf.name }}">{{ site.conf.name }}</a></h1>
    <h2 class="description">{{ site.conf.description }}</h2>
    <h2 class="tagline">{{ site.conf.date }}, {{ site.conf.venue }}, {{ site.conf.city }}</h3>
    <div class="call-action-area">
      <span class="price">{{ site.conf.price }}</span><br/><br/><br/>
      <!-- <a href="{{site.subscribe_url}}" class="call-action-link" title="{{site.subscribe_text}}">{{site.subscribe_text}}</a> -->
    </div>
  </div>
</header>
<!--  / HEADER -->

<hr />
