{% if site.sections.committee %}

  <!-- committee -->
  <section class="committee" id="committee">

    <h2 class="section-title">{{site.committee_section.title}}</h2>

    <ul class="committee-list">
    {% for member in site.committee %}
      <li class="committee-item">
        <span class="committee-photo"><img class="photo" src="{{ member.photo }}" alt="{{ member.name }}"/></span>
        <h3 class="committee-name">
        {% if member.homepage %} 
          <a href="{{ member.homepage }}" title="{{ member.name }}>">{{ member.name }},</a>
        {% else %}
          {{ member.name }},
        {% endif %}
        {{ member.company }}
        {% if member.chair %} 
          (Chair)
        {% endif %}
        </h3>
        {% if member.bio %} 
          <p class="committee-bio">{{ member.bio }}</p>
        {% endif %}
      </li>
    {% endfor %}
    </ul>

  </section>
  <!-- / committee -->

{% endif %}