{% if site.sections.supporters %}

  <!-- supporterS -->
  <section class="supporters" id="supporters">
    <h2 class="section-title">{{site.supporters_section.title}}</h2>
    <ul class="supporters-list">

    {% for supporter in site.supporters %}
      <li class="supporter-item">
        <a class="supporter-logo supporter-link" href="{{ supporter.url }}"><img src="{{ supporter.logo }}" alt="{{ supporter.name }}" class="photo" /></a>
      </li>
    {% endfor %}

    {% if site.supporters_section.show_your_logo_here %}
      <li class="supporter-item">
        <a class="supporter-logo supporter-link supporter-call" href="#"><img src="img/your-logo.jpg" alt="your logo" class="photo" /></a>
      </li>
    {% endif %}
    
    </ul>
  </section>
  <!-- / supporterS -->

{% endif %}